#wraper {margin: auto; width: 840px; padding: 10px; border: 1px solid #ccc; background-color : white;}
#header {border : 1px solid #ccc; background-color: cyan; height: 100px; }

#contents {border : 1px solid #ccc; background-color: yellow; width: 600px; float: right; }

#side {border: 1px solid #ccc; background-color: green; width: 200px; height:300px; }
#footer {border: 1px solid #ccc; clear : both; background: pink;}

